*~
*.o
*.orig
*.rej
*.bak
\#*
.#*
*.cmd
*.exe
*.i686
*.x86_64
*.png
!doc/images/*.png
!example-run/example-*/*/*/*.png
downloads

# created by configure:
Makefile
config.h
config.log
config.status
*.m4
autom4te*
stamp-*
autoscan.log
.deps
